* {
  padding: 0;
  margin: 0;
}
body {
  font-family: sans-serif;
  color: white;
  line-height: 1.5;
  height: 100vh;
  display: flex;
  position: relative;
  align-items: center;
  justify-self: center;
  background: linear-gradient(to top left, #28b487, #7dd56f);
  flex-direction: column;
  .showModel {
    display: flex;
    border: 1px solid red;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: absolute;
    .show-Model {
      color: white;
      align-items: center;
      justify-content: center;
      position: absolute;
      font-size: 23px;
    }
  }
}
