/* p,
li,
h1 {
  color: red;
} */
/* 
html {
    font-size: 10px; /* px 表示“像素（pixel）”: 基础字号为 10 像素 */
    font-family: "Open Sans", sans-serif; /* 这应该是你从 Google Fonts 得到的其余输出。 */
  }
   */
h1 {
  font-size: 60px;
  text-align: right;
}

p,
li {
  font-size: 19px;
  line-height: 38px;
  letter-spacing: 1px;
}
body {
    width: 600px;
    margin: 0 auto;
    background-color: #ff9500;
    padding: 10px 10px 10px 90px;
    border: 2px solid black;
  }
  h1 {
    margin: 0;
    padding: 20px 0;
    color: #00539f;
    text-shadow: 3px 3px 2px black;
  }
  