* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(
    to top left,
    rgb(231, 224, 201),
    rgb(211, 179, 74)
  );
  font-family: Arial;
  font-size: 20px;
  padding: 30px 15px 10px 50px;
}

h1 {
  font-size: 35px;
  margin-bottom: 10px;
  text-align: center;
  border: 1px solid red;
  width: 100%;
}
h2 {
  margin-bottom: 20px;
  text-align: center;
}
p {
  margin-bottom: 20px;
}
.formDemo {
  background-color: aqua;
  border: 5px solid #444;
  width: 400px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
input,
button {
  margin: 10px 0px 20px;
  font-size: 16px;
}
